.App {
  display: flex;
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

.App-header {
  padding: 30px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 600px) {
  .App {
    flex-direction: column;
    max-height: unset;
  }
}

.App-body {
  overflow: auto;
  flex: 1;
  background-color: beige;
  min-height: 100vh;
}

#gotofilters {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
