.App {
  display: flex;
  text-align: center;
}

.App-header {
  padding: 30px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex: 1;
  background-color: beige;
  min-height: 100vh;
}
